@import "@fontsource/cal-sans";

@import "tailwindcss";

@import "bootstrap-icons/font/bootstrap-icons.css";
@import "remixicon/fonts/remixicon.css";

:root {
  --primary: #caa05c;
  --text: #1c1c1d;
  --body: #f6f6f6;
  --white: #ffffff;
  --black: #000;

  --font-calsans: "Cal Sans", sans-serif;
  --font-golostext: var(--font-golostext);
  --font-audiowide: var(--font-audiowide);

  --transition-regular: 0.3s;
  --transition-slow: 0.6s;
}

body {
  background-color: var(--body);
}

.CalSans {
  font-family: var(--font-calsans);
}
.GolosText {
  font-family: var(--font-golostext);
}
.Audiowide {
  font-family: var(--font-audiowide);
}

/* Navbar */
.menu-link a {
  font-weight: 500;
  font-family: var(--font-golostext);
}

/* Hero Header */
.hero {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 1;
}

.hero::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  background-image: url(/hero/Hero-bg.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  z-index: -1;
}

.hero-span {
  position: relative;
}

.hero-span::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 5%;
  transform: translate(-50%, -50%);
  width: 8px;
  height: 8px;
  border-radius: 100%;
  background-color: var(--primary);
}

.hero-bg-elem {
  position: absolute;
  top: 0;
  left: 30%;
  transform: translate(-50%, -50%);
  width: 400px;
  height: 400px;
  background-color: var(--white);
  border-radius: 100%;
  box-shadow: 0 0 40px rgba(131, 131, 131, 0.1);
}

.hero-bg-elem2 {
  position: absolute;
  top: 50%;
  left: 5%;
  transform: translate(-50%, -50%);
  width: 700px;
  height: 700px;
  background-color: rgba(195, 195, 195, 0.3);
  border-radius: 100%;
  box-shadow: 0 0 40px rgba(131, 131, 131, 0.1);
}

.hero-content-img i {
  position: absolute;
  top: 50%;
  left: 80%;
  transform: translate(-50%, -50%);
  width: 70px;
  height: 70px;
  font-size: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  background-color: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(5px);
  color: var(--white);
}

/* Hero Partner Logos */
.partner-swiper {
  padding: 20px !important;
}

.partner-img {
  transition: var(--transition-regular);
  cursor: pointer;
}

.partner-img:hover {
  transform: scale(1.1);
}

/* About Section  */
.about {
  background-image: url(../public/about/About-bg.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
}

.title {
  position: relative;
}

.title::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: rgba(131, 131, 131, 0.3);
}

.title::before {
  content: "";
  position: absolute;
  top: -20%;
  right: 10%;
  width: 1px;
  height: 250px;
  background-color: rgba(131, 131, 131, 0.3);
}

.title-span {
  position: relative;
}

.title-span::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 9%;
  transform: translate(-50%, -50%);
  width: 8px;
  height: 8px;
  border-radius: 100%;
  background-color: var(--primary);
}

/* Responsive Utilities */
@media (max-width: 991px) {
  .hero {
    height: 100%;
    margin-top: 8%;
  }

  .hero-content-img {
    top: 70%;
  }
}

@media (max-width: 575px) {
  .hero {
    margin-top: 10%;
  }

  .hero-content-img {
    top: 50% !important;
  }
}
